[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=rabbitmq-dev.pavanbairu.tech
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=rabbitmq_appuser_password
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target